#auth-view #sign-in-button {
    margin-bottom: 4px;
    height: 40px;
    font-size: 15px;
    background-color: #4673d3;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
  
#auth-view #register-button {
    height: 30px;
    font-size: 12px;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #595959;
    background-color: #ffffff;
    color: #595959;
}
  
#auth-view table button {
    width: 100%;
    font-family: "Overpass", serif;
}
  
#auth-view #sign-in-button img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 2px;
}
  
#auth-view #register-button img {
    height: 10px;
    margin-left: 4px;
}
